<% if(session['error_message']) %>
  <p class="error">
    <%= session['error_message'] %>
  </p>
  <% session.clear %>
<% end %>

<h1><%= @team.name %></h1>
<h2>Manager: <%= @team.manager %></h2>
<a href="/teams/<%= @team.id %>/edit">Edit Team</a> 

<h3>Players</h3>
<%= erb :"players/index" %>
<%= erb :"players/new" %>

